EMBEDDING_MODEL_SOURCE=hugging_face
CHAT_MODEL_SOURCE=ollama
OPENAI_PROJECT_KEY=<openai-api-key>
HUGGINGFACE_API_TOK=<huggingface-api-key>
OLLAMA_BASE_URL=http://localhost:11434/api/ # default local base url for ollama
CHROMA_DIR=./chroma_db # directory where chroma_db lives
CHROMA_COLLECTION_NAME=<chroma-collection-name>
